includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 10

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    tmpDir: storage/app/phpstan

    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    reportIgnoresWithoutComments: true

    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportNonIntStringArrayKey: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true

    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false

    ignoreErrors:
        - identifier: method.internalClass
          paths:
            - tests/*
